/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #f4f4f4;
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 5px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr ;
    gap: 20px;
    align-items: center;
}

.image-section img {
    width: 100%;
    max-width: 900px;
}

.text-section {
    max-width: 600px;
}

.text-section h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.text-section p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.shop-now {
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.shop-now:hover {
    background: #333;
}

.about-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.about-text {
    max-width: 600px;
}

.about-text h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.6;
}

.about-image img {
    width: 600px;

}
